<h4>Create New Bucket</h4>
<div class="bucket-create-wrapper">
	<div class="cancel-bucket-btn" (click)="closeBucketCreation()">&times;</div>
	<div class="row">
		<div class="col-6">
			<div class="form-group">
    			<label for="bucket-name">Bucket Name *</label>
    			<input type="text" class="form-control" id="bucket-name" placeholder="My Fancy New Bucket" [(ngModel)]="model.name">
  			</div>	
		</div>
		<div class="col-6">
			<div class="form-group">
    			<label for="bucket-location">Bucket Location *</label>
				<select class="custom-select form-control" id="bucket-location" [(ngModel)]="model.location">
  					<option *ngFor="let location of locations" [ngValue]="location">{{location.name}}</option>
				</select>
  			</div>	
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<button class="btn btn-primary bucket-btn" (click)="createBucket()" [disabled]="bucketCreating">Create Bucket</button>
		</div>
		<div *ngIf="errorMessage" class="error-message">{{errorMessage}}</div>
	</div>
</div>