.bucket-create-wrapper {
	position: relative;

	.cancel-bucket-btn {
		position: absolute;
		right: 0;
		top: -55px;
		cursor: pointer;
		padding: 5px;
		font-size: 30px;
	}

	.error-message {
		color: red;
		padding: 15px;
	}
}
