<div class="buckets-header clearfix">
    <div class="buckets-label">About this bucket:</div>
    <button class="btn btn-danger bucket-btn" (click)="deleteBucket()" [disabled]="deleting">Delete bucket</button>
</div>

<div class="bucket-details">
    <p><strong>Location:</strong> {{bucket.location.name}}</p>
    <p><strong>Bucket name:</strong> {{bucket.name}}</p>
    <p><strong>Bucket size:</strong> {{bucket.size}} GB</p>
</div>
<div *ngIf="errorMessage" class="error-message">{{errorMessage}}</div>